{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="card account-flow-card">
    <div class="card-body" x-data="{loading: false}">
        <h2 class="h4">Log in</h2>
        <form method="post" class="mb-2" @submit="loading = true">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success mt-2" type="submit" x-bind:disabled="loading">
                <span x-cloak class="spinner-border spinner-border-sm" role="status" aria-hidden="true" x-show="loading"></span>
                Log in
            </button>
        </form>
        <p  class="mt-2 mb-2">
            <a href="{% url 'account_reset_password' %}">Forgot Password</a> or
            <a href="{% url 'account_signup' %}">Need an Account?</a>
        </p>
        {% include 'account/social_accounts_access.html' %}
    </div>
</div>
{% endblock content %}
