{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log out{% endblock %}


{% block content %}
<div class="card account-flow-card">
    <div class="card-body">
        <h1 class="h4">Sign Out</h1>

        <p>Are you sure you want to sign out?</p>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-danger" type="submit">Sign Out</button>
        </form>
    </div>
</div>
{% endblock content %}