{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="card account-flow-card" x-data="{ agreedToTerms: false }">
    <div class="card-body">
        <h1 class="h4">Sign up</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div>
            <input type="checkbox" x-model="agreedToTerms" /><span>&nbsp;<span class="fw-bold text-danger">*</span>I have read and agree to the <a href="{% url 'datapolicy' %}">data policy</a> (required)</span>
                </div>
            <button class="btn btn-success mt-2" type="submit" x-bind:disabled="!agreedToTerms">Sign up</button>
        </form>
        {# include 'account/social_accounts_access.html' #}
    </div>
</div>
{% endblock content %}