{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="card account-flow-card" x-data="{ agreedToTerms: false }">
    <div class="card-body" x-data="{loading: false}">
        <h1 class="h4">Sign up</h1>
        <form method="post" @submit="loading=true">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="my-2">
                <input type="checkbox" x-model="agreedToTerms" /><span>&nbsp;<span class="fw-bold text-danger">*</span>&nbsp;I have read and agree to the <a href="{% url 'data-policy' %}">data policy</a>, as well as essential cookie use.</span>
            </div>
            <button class="btn btn-success" type="submit" x-bind:disabled="!agreedToTerms || loading">
                <span x-cloak class="spinner-border spinner-border-sm" role="status" aria-hidden="true" x-show="loading"></span>
                Sign up
           </button>
        </form>
        <p class="mt-2 mb-2">
            Already have an Account? <a href="{% url 'account_login' %}">Log In</a>
        </p>
        {% include 'account/social_accounts_access.html' %}
    </div>
</div>
{% endblock content %}
