{% load socialaccount %}
{% load static %}

<div class="w-100 mt-2">
    <div class="d-flex py-2">
        <div class="flex-grow w-100">
            <hr/>
        </div>
        <div class="mx-auto px-2"><span class="h4 text-muted">OR</span></div>
        <div class="flex-grow w-100">
            <hr/>
        </div>
    </div>

    <div class="mt-2 w-100 d-flex">
        <div class="d-flex flex-column justification-center px-1 border border-2 rounded-start border-end-0"
             style="padding-top:2px;">
            <img src="{% static 'images/google.png' %}" alt="Google Icon" width="30" height="30" >
        </div>
        <a href="{% provider_login_url 'google' %}"
           class="btn btn-primary text-center border-start-0 px-4"
           style="border-top-left-radius: 0 !important;border-bottom-left-radius: 0 !important;"
        >
            Login with Google
        </a>
    </div>
</div>
