{% extends '_base.html' %}
{% load static %}

{% block title %}Data Policy{% endblock title %}

{% block content %}
<div>
  <h1>Data Policy</h1>
  <p>
    The operators of these pages take the protection of your personal data
    very seriously. We treat your personal data confidentially and in
    accordance with the statutory data protection regulations and this
    privacy policy. The use of our website is usually possible without
    providing personal information. As far as on our sides personal data
    (for example name, address or E-Mail addresses) are raised, this takes
    place, as far as possible, always on voluntary basis. These data will
    not be disclosed to third parties without your explicit consent. Please
    note that data transmission over the Internet (for example, when
    communicating via e-mail) may have security vulnerabilities. A complete
    protection of the data from access by third parties is not possible.
  </p>
  <h3>Cookies</h3>
  <p>
    The internet pages partly use so-called cookies. Cookies do not harm
    your computer and do not contain viruses. Cookies serve to make our
    offer more user-friendly, effective and secure. Cookies are small text
    files that are stored on your computer and stored by your browser. Most
    of the cookies we use are so-called "session cookies". They are
    automatically deleted after your visit. Other cookies remain stored on
    your device until you delete them. These cookies allow us to recognize
    your browser the next time you visit. You can set your browser so that
    you are informed about the setting of cookies and allow cookies only in
    individual cases, the acceptance of cookies for certain cases or
    generally exclude and enable the automatic deletion of cookies when
    closing the browser. Disabling cookies may limit the functionality of
    this website.
  </p>
  <h4>Essential Cookies</h4>
  <p>To use certain functionality of this service, this website requires the use
  of cookies. Uses of the essential cookies include:</p>
  <ul>
    <li>Protection of user data</li>
    <li>Identification of users for security reasons</li>
    <li>Management of sessions of logged-in users</li>
    <li>Improving website performance</li>
  </ul>
  <p>The cookies are not used for analytical purposes or collect activities you
    perform on other websites. <b>We cannot provide you with the core functionality
    of our website if you do not allow their use.</b></p>
  <h3>Server-Log Files</h3>
  <p>
    The provider of the pages automatically collects and stores information
    in so-called server log files, which your browser automatically
    transmits to us. These are:
  </p>
  <ul>
    <li>Browsertype and Browserversion</li>
    <li>Verwendetes Betriebssystem</li>
    <li>Referrer URL</li>
    <li>Hostname des zugreifenden Rechners</li>
    <li>Uhrzeit der Serveranfrage</li>
  </ul>
  <p>
    These data can not be assigned to specific persons. A merge of this data
    with other data sources will not be done. We reserve the right to check
    this data retrospectively, if we become aware of specific indications
    for illegal use.
  </p>
  <h3>Contact Form</h3>
  <p>
    If you send us inquiries via the contact form/ feedback form, your
    details from the inquiry form, including the contact details you
    provided there, will be stored in order to process the request and in
    case of follow-up questions. We will not share this information without
    your consent.
  </p>
  <h3>Newsletter Data</h3>
  <p>
    If you would like to receive the newsletter offered on the website, we
    need an e-mail address from you, as well as information that allows us
    to verify that you are the owner of the specified e-mail address and
    that you agree to receive the newsletter , Further data is not
    collected. We use this data exclusively for the delivery of the
    requested information and do not pass it on to third parties. The
    granted consent to the storage of the data, the e-mail address and their
    use for sending the newsletter can be revoked at any time, for example
    via the "unsubscribe" link in the newsletter.
  </p>
  <h3 id="delete-data">Export and Deletion of personal Data</h3>
  <p>
    You can request a data export of your data saved by us and you can also
    request us to delete any data saved about you. Please send your informal
    request to marcphilippebeaujean@gmail.com
  </p>
  <h3>Cookie Browser Plugin</h3>
  <p>
    You can prevent the storage of cookies by a corresponding setting of
    your browser software; however, please note that if you do this, you may
    not be able to use all the features of this website to the fullest
    extent possible. In addition, you can prevent the collection by Google
    of the data generated by the cookie and related to your use of the
    website (including your IP address) as well as the processing of this
    data by Google by downloading the browser plug-in available under the
    following link and install:{" "}
    <a href="https://tools.google.com/dlpage/gaoptout?hl=de">
      https://tools.google.com/dlpage/gaoptout?hl=de
    </a>
  </p>
  <h3>SSL Encryption</h3>
  <p>
    This site uses SSL encryption for security reasons and to protect the
    transmission of sensitive content, such as the requests you send to us
    as the site operator. You can recognize an encrypted connection by
    changing the address line of the browser from "http: //" to "https: //"
    and the lock symbol in your browser line. If SSL encryption is enabled,
    the data you submit to us can not be read by third parties.
  </p>
  <p class="mb-4">
    <b>Source:</b>{" "}
    <a href="https://www.e-recht24.de/muster-datenschutzerklaerung.html">
      https://www.e-recht24.de/muster-datenschutzerklaerung.html.
    </a>{" "}
  </p>
</div>
{% endblock content %}
