{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="px-3 py-3">
    <h1 class="mb-4">Painless Recurring Tasks For Notion</h1>
    <div class="d-md-flex justify-content-between row">
        <div class="d-flex flex-column justify-content-center col-md-4">
            <p class="h5 text-muted">Setup a Schedule and <b>Create Data on Autopilot.</b></p>
            <p class="h6 mt-3"><i class="bi bi-check-lg text-success"></i>&nbsp;Get Started in Seconds</p>
            <p class="h6"><i class="bi bi-check-lg text-success"></i>&nbsp;Automatic Timezone Conversion</p>
            <p class="h6"><i class="bi bi-check-lg text-success"></i>&nbsp;No Changes To Tables Required</p>
            <p class="h6 mb-4"><i class="bi bi-check-lg text-success"></i>&nbsp;No Credit Card Required</p>
            <div>
                <a href="{% url 'account_signup' %}" class="btn btn-success mt-2">Get For Free</a>
            </div>
        </div>
        <div class="col-md-8">
            <img src="{% static 'images/recurring-meeting.gif' %}" id="landing-example" alt="Recur logo"
                 class="w-100 h-auto"/>
        </div>
    </div>
</div>
<div class="px-3 py-3 mt-4">
    <div class="d-flex flex-column justify-content-center pb-4">
        <h2 class="mt-0 text-center">Designed for Simplicity Fans</h2>
    </div>
    <div class="d-md-flex justify-content-between row">
        <div class="col-md-4 col-12 mt-2 justify-content-center">
            <h3 class="h4 mb-3 text-center">Link Your Database</h3>
            <div class="card steps-card m-auto">
                <div class="card-body">
                    <img src="{% static 'images/database-preview.png' %}" class="w-100" alt="Daily standup preview"/>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 mt-2 justify-content-center">
            <div>
                <h3 class="h4 mb-3 text-center">Set Task Properties</h3>
            </div>
            <div class="card steps-card m-auto">
                <div class="card-body">
                    <img src="{% static 'images/properties-preview.png' %}" class="w-100" alt="Daily standup preview"/>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 mt-2 justify-content-center">
            <h3 class="h4 mb-3 text-center">Create a Schedule</h3>
            <div class="card steps-card m-auto">
                <div class="card-body">
                    <img src="{% static 'images/daily-standup-preview.png' %}" class="w-100"
                         alt="Daily standup preview"/>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}