{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="px-3 py-3">
    <h1 class="mb-4"><span class="highlight">Painless</span> Recurring Tasks For <span class="highlight">Notion</span></h1>
    <div class="d-md-flex justify-content-between row">
        <div class="d-flex flex-column justify-content-center col-md-4">
            <p class="h5 text-muted">Setup a Schedule.<br /><b>Create Data on Autopilot.</b></p>
            <p class="h6 mt-3"><i class="bi bi-check-lg text-success"></i>&nbsp;Get Started in Seconds</p>
            <p class="h6"><i class="bi bi-check-lg text-success"></i>&nbsp;Automatic Timezone Conversion</p>
            <p class="h6"><i class="bi bi-check-lg text-success"></i>&nbsp;No Tutorial Required</p>
            <p class="h6"><i class="bi bi-check-lg text-success"></i>&nbsp;No Changes To Your Data Required</p>
            <p class="h6 mb-4"><i class="bi bi-check-lg text-success"></i>&nbsp;<b>No Credit Card Required</b></p>
            <div>
                <a href="{% url 'account_signup' %}" class="btn btn-success mt-2">Get For Free</a>
            </div>
        </div>
        <div class="col-md-8">
            <img src="{% static 'images/recurring-meeting.gif' %}" id="landing-example" alt="Recur logo"
                 class="w-100 h-auto"/>
        </div>
    </div>
</div>
<div class="px-3 py-4 mt-2">
    <div class="d-flex flex-column justify-content-center pb-4">
        <h2 class="mt-0 text-center">Simple By Design</h2>
    </div>
    <div class="d-md-flex justify-content-between row">
        <div class="col-md-4 col-12 mt-4 justify-content-center"  style="transform: rotate(1.5deg);">
            <h3 class="h4 mb-3 text-center">Choose A Database</h3>
            <div class="card steps-card m-auto">
                <div class="card-body">
                    <img src="{% static 'images/database-preview.png' %}" width="250" height="70" alt="Select Database preview"/>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 mt-4 justify-content-center" style="transform: rotate(-1deg);">
            <div>
                <h3 class="h4 mb-3 text-center">Set Properties</h3>
            </div>
            <div class="card steps-card m-auto">
                <div class="card-body">
                    <img src="{% static 'images/properties-preview.png' %}" width="250" height="120" alt="Set properties preview"/>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 mt-4 justify-content-center" style="transform: rotate(2deg);">
            <h3 class="h4 mb-3 text-center">Create The Schedule</h3>
            <div class="card steps-card m-auto">
                <div class="card-body">
                    <img src="{% static 'images/daily-standup-preview.png' %}" width="250" height="100"
                         alt="Schedule creator preview" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-4"></div>
<div class="my-4"></div>
<div class="my-4 py-4">
    <div class="row d-flex">
        <div class="col-12 col-md-6">
            <img src="{% static 'images/albert.png' %}" class="w-100"
                 alt="Albert mascott"/>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
            <div>
                <h2 class="h1 pt-4 mt-4">Meet <span class="highlight">Albert</span></h2>
                <p class="h4 my-4">Here to make Notion simple again.</p>
                {% include 'newsletter/partials/mailchimp_form.html' with email="" %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
