{% extends '_base.html' %}
{% load static %}

{% block title %}Imprint{% endblock title %}

{% block content %}
<div>
<h1>Imprint und Data Protection</h1>
  <section>
    <h2>Imprint</h2>
    <h3>Accounts according to § 5 TMG</h3>
    <p>
      Address on Request<br />,
      40667 Meerbusch
    </p>
    <h3>Represented by</h3>
    <p>Marc Philippe Beaujean</p>
    <h3>Contact</h3>
    <p>Telefon: On Request</p>
    <p>E-Mail: marcphilippebeaujean@gmail.com</p>
    <h3>Liability for Content</h3>
    <p>
      Obligations to remove or block the use of information under general law
      remain unaffected. A liability in this regard, however, is only possible
      from the date of knowledge of a specific infringement. Upon notification
      of appropriate violations, we will remove this content immediately.
    </p>
    <h3>Liability for Links</h3>
    <p>
      Our offer contains links to external websites of third parties on whose
      contents we have no influence. Therefore, we can not assume any
      liability for these external contents. The respective provider or
      operator of the pages is always responsible for the contents of the
      linked pages. The linked pages were checked for possible legal
      violations at the time of linking. Illegal content was not recognizable
      at the time of linking. However, a permanent content control of the
      linked pages is not reasonable without concrete evidence of an
      infringement. Upon notification of violations, we will remove such links
      immediately.
    </p>
    <h3>Copyright</h3>
    <p>
      The content and works on these pages created by the site operators are
      subject to German copyright law. The reproduction, processing,
      distribution and any kind of exploitation outside the limits of
      copyright require the written consent of the respective author or
      creator. Downloads and copies of this site are for private,
      non-commercial use only. As far as the contents on this side were not
      created by the operator, the copyrights of third parties are considered.
      In particular contents of third parties are marked as such. If you
      should still be aware of a copyright infringement, we ask for a note.
      Upon notification of violations, we will remove such content
      immediately. Source:
      <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
    </p>
  </section>
</div>
{% endblock content %}
