{% load notion_embed_tags %}

<div class="notion-embed-editor-sidebar ms-2 shadow-small">
    <div class="rounded-top border-top border-start border-end bg-secondary">
        <ul class="nav nav-tabs ps-4 bg-light">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Columns</a>
            </li>
        </ul>
    </div>
    <div class="w-100 b-dark border-end border-bottom border-start rounded-end ps-4 m2-">
        <div class="py-2"></div>
        <div class="row">
            {% include 'notion-embed/partials/notion-property-column-settings-form.html' with embed_notion_property_settings=embed_notion_property_settings %}
        </div>
    </div>
</div>
