[Desktop Entry]
Encoding=UTF-8
Name=Link to Consider
Type=Link
URL=https://gatherer.wizards.com/Pages/Search/Default.aspx?name=+%5BConsider%5D
Icon=text-html
