@import "account-flows.css";
@import "footer.css";
@import "landing-page.css";
@import "recurring-tasks.css";

/** Use to hide alpinejs elements before load **/
[x-cloak] {
    display: none !important;
}

/** Styling to hide HTMX Request indicators **/
.my-indicator{
    display:none;
}
.htmx-request .my-indicator{
    display:block;
}
.htmx-request.my-indicator{
    display:block;
}

.hide-on-indicator{
    display:inline;
}
.htmx-request .hide-on-indicator{
    display:none;
}
.htmx-request.hide-on-indicator{
    display:none;
}

.top-margin-for-header {
    height: 100px;
}

.icon-wrapper{
    position: relative;
    bottom: 1.5px;
}

.hide-internal-buttons .close {
    display: none;
}
