#landing-splash {
    max-width: 450px;
    padding: 50px;
}

.steps-card {
    max-width: 300px;
    min-height: 160px;
    position: relative;
}

.steps-card:first-child {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
