

.add-recurring-task-btn {
    border-style: dashed !important;
    width: 100%;
}

.add-recurring-task-btn:hover {
  cursor: pointer;
}

.bg-muted-on-hover:hover {
    background-color: rgba(0,0,0,.04);
}

#database-search-result-container {
    position: absolute;
    background-color: white;
    width: 100%;
    max-height: 270px;
    overflow: hidden;
}

.database-search-result {
    padding: 10px;
    cursor: pointer;
    color: #000000;
    bottom: -5px;
    background-color: white;
}

.database-search-result:hover {
    background-color: var(--success-color);
    color: #FFFFFF;
}

@media only screen and (max-width: 768px){
    .recurring-task-list-element {
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-radius: 0.5rem;
        border-color: #d6d6d7;
        flex-direction: column;
        margin: 10px 0px;
        padding: 15px;
    }
}

@media only screen and (min-width: 769px) {
    .recurring-task-list-element {
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #d6d6d7;
        display: flex;
        flex-direction: row;
        padding: 10px 5px 10px 5px;
    }

    .recurring-task-list-element label {
        display: none;
    }
}
