.add-recurring-task-btn {
    border-style: dashed !important;
    width: 100%;
}

.add-recurring-task-btn:hover {
  cursor: pointer;
}

.bg-muted-on-hover:hover {
    background-color: rgba(0,0,0,.04);
}
