{% extends '_base.html' %}

{% block title %}Connect Notion{% endblock %}

{% block content %}

{% load notion_workspace_tags %}

<div class="card account-flow-card">
    <div class="card-body">
        <h1 class="h4">Connect Notion</h1>
        <small class="mb-4">We need permission to access your Workspace - don't worry, we play nice!</small>
        <a href="{% oauth_url %}"
           class="btn btn-success mt-2">
            <span class="mx-2">Connect Notion</span>
        </a>
    </div>
</div>
{% endblock content %}
