{% extends '_base.html' %}

{% block title %}Connect Notion{% endblock %}

{% block content %}

{% load notion_workspace_tags %}

<div class="card account-flow-card">
    <div class="card-body">
        <h1 class="h4">Connect Notion</h1>
        <small class="mb-4">We need permission to access your Workspace - don't worry, we play nice!</small>
        <a href="{% oauth_url %}"
           class="btn border rounded mt-2">
            <img src="https://img.icons8.com/ios/452/notion.png" alt="Notion Icon" width="30" height="30">
            <span class="mx-2">Give Permission</span>
        </a>
    </div>
</div>
{% endblock content %}