{% block javascript %}
<script type="text/javascript">
      function spinnerUpdateHandler(event) {
        var elem = document.getElementById("notion-workspace-tasks-container");
        elem.innerHTML = "{% include 'widgets/centered-spinner.html' %}";
      }
</script>
{% endblock javascript %}

{% block content %}

<div class="card-body">
    <h2 class="h4">Notion Workspace Tasks</h2>
    <form onsubmit="return false;">
        <input placeholder="Search for Tasks"
               type="text"
               name="query"
               onkeyup="spinnerUpdateHandler(event)"
               class="form-control"
               hx-post="{% url 'get-notion-workspace-tasks' %}"
               hx-trigger="keyup delay:1000ms"
               hx-indicator="#notion-tasks-wrapper"
               hx-target="#notion-workspace-tasks-container"
        />
    </form>
    <form onsubmit="return false;"
          hx-post="{% url 'get-notion-workspace-tasks' %}"
          hx-trigger="load"
          hx-indicator="#notion-tasks-wrapper"
          hx-target="#notion-workspace-tasks-container">
        <input placeholder="Search for Tasks"
               type="hidden"
               value=""
               name="query"
               class="form-control"
        />
    </form>
    <small>Not finding what you are looking for? Consider <a href="{% url 'notion-access-prompt' %}">updating access.</a></small>
    <div id="notion-workspace-tasks-container">
        {% include 'widgets/centered-spinner.html' %}
    </div>
</div>
{% endblock content %}