{% load page_basics %}

<div id="task-container-desktop-{{recurring_task.pk}}"
>
    <div class="col-12 p-2 d-flex flex-row"
    >
        <div class="col-4 pl-4 mt-1 me-2">
            <input
                    value="{{ recurring_task.name }}"
                    type="text"
                    class="h5 border-0 w-100 ml-4 mb-2 bg-muted-on-hover"
                    name="task-name"
                    id="task-name"
                    hx-trigger="change"
                    hx-indicator="#task-name-change-loading-indicator-{{recurring_task.id}}"
                    hx-post="{% url 'update-recurring-task-schedule' pk=recurring_task.pk %}"
            />
            <small id="task-name-change-loading-indicator-{{recurring_task.id}}"
                   class="my-indicator my-0 mx-0 text-muted">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Saving changes...
            </small>
            {% if recurring_task.database != None and recurring_task.database.database_id != None %}
            <div class="text-small text-muted">
                <small class="d-flex">
                {% autoescape off %}
                    {% bootstrap_icon_by_icon_name icon_name='table' %}
                {% endautoescape %}
                    &nbsp;{{recurring_task.database.database_name}}</small>
            </div>
            {% endif %}
        </div>
        <div class="mr-2 w-100">
            {% if recurring_task.database is None or recurring_task.database.database_id is None %}
            <div class="alert alert-danger">
                    {% autoescape off %}
                        {% bootstrap_icon_by_icon_name icon_name='exclamation-octagon' %}
                    {% endautoescape %}
                     &nbsp;Missing Database.</div>
            {% else %}
            {% include 'tasks/partials/recurring-task-schedule.html' with recurring_task=recurring_task hide_labels=True %}
            {% endif %}
        </div>
        <div class="d-flex mt-1">
            <div class="mx-2" x-data="{loading: false}">
                <a href="{% url 'recurring-task-view' pk=recurring_task.pk %}"
                   class="btn btn-primary"
                   @click="loading = true"
                   x-bind:disabled="loading"
                >
                    <span x-show="!loading">
                    {% autoescape off %}
                        {% bootstrap_icon_by_icon_name icon_name='pencil' %}
                    {% endautoescape %}
                    </span>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" x-cloak
                          x-show="loading"></span>
                </a>
            </div>
            <div class="">
                <button
                        class="btn btn-danger ml-1"
                        hx-target="#task-container-desktop-{{recurring_task.pk}}"
                        hx-delete="{%url 'delete-recurring-task' pk=recurring_task.pk %}"
                        hx-swap="outerHTML"
                        hx-confirm="Are you sure you wish to delete this Task?"
                        hx-indicator=".delete-indication-{{recurring_task.pk}}"
                >
                    <span x-show="!loading" class="hide-on-indicator delete-indication-{{recurring_task.pk}}">
                            {% autoescape off %}
                                {% bootstrap_icon_by_icon_name icon_name='trash' %}
                            {% endautoescape %}
                    </span>
                    <span class="spinner-border spinner-border-sm my-indicator delete-indication-{{recurring_task.pk}}"
                          role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <hr class="my-1"/>
</div>
