{% load task_tags %}
{% load page_basics %}

<div class="flex mt-1"
     x-data="{
        loading: false,
        deleted: false
     }"
     hx-target="this"
>
    <div class="d-flex row">
        <div class="col-md-6 col-12 form-group">
            <label for="{{ recurring_task.pk }}-start-date" class="form-label mt-2">
                Starting From
            </label>
            <input name="start-time"
                   type="datetime-local"
                   id="{{ recurring_task.pk }}-start-date"
                   class="form-control"
                   hx-post="{% url 'update-recurring-task-schedule' recurring_task.pk %}"
                   hx-trigger="change"
                   hx-vals="js:{'update-schedule-only': true}"
                   @change="() => {
                       // short interval to let htmx send out the post request before disabling the input form
                       // otherwise, the input form will not have the correct value
                       setTimeout(() => loading = true, 200);
                   }"
                   x-bind:value="() => {
                       const localizedDate = new Date({{recurring_task.start_time|date:'U'}} * 1000);
                       localizedDate.setMinutes(localizedDate.getMinutes() - new Date().getTimezoneOffset());
                       let isoString = localizedDate.toISOString();
                       return isoString.substring(0, (isoString.indexOf('T')|0) + 6|0);
                   }"
                   x-bind:disabled="loading"
            />
        </div>
        <div class="col-md-6 col-12 form-group">
            <label for="{{ recurring_task.pk }}-interval" class="form-label mt-2">
                &nbsp;Repeats
            </label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <div class="mr-2 text-bold">
                            {% autoescape off %}
                                {% bootstrap_icon_by_icon_name icon_name='arrow-repeat' %}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
                <select class="form-select"
                        name="interval"
                        @change="loading = true"
                        hx-post="{% url 'update-recurring-task-schedule' recurring_task.pk %}"
                        hx-trigger="change"
                        hx-vals="js:{'update-schedule-only': true}"
                        x-bind:disabled="loading"
                        id="{{ recurring_task.pk }}-interval">
                    {% interval_choices as interval_choices %}
                    {% for choice in interval_choices %}
                    <option value="{{ choice.0 }}"
                            {% if recurring_task.interval in choice.0 %} selected="selected" {% endif %}
                    >
                        {{ choice.1 }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {% if show_changed != None and show_changed == True %}
    <small x-cloak x-show="!loading && !deleted" x-transition><span class="text-success">
        {% autoescape off %}
            {% bootstrap_icon_by_icon_name icon_name="check-circle-fill" %}
        {% endautoescape %}
    </span>Changes Saved.</small>
    {% endif %}
    <small x-show="loading == false">{{ recurring_task.days_till_schedule_preview_text }}</small>
    <small x-cloak x-show="loading && !deleted" class="text-muted">
        <span class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"></span>
        Saving Changes...</small>
</div>
