{% if recurring_task.properties_json|length == 0 %}
<div class="alert alert-danger">Please select a database and set properties for the task!</div>
{% else %}
<form
      hx-post="{% url 'update-recurring-task-properties' pk=recurring_task.pk %}"
      {# requires outter Alpine JS state tracking selected Database ID #}
      x-bind:hx-headers='`{"X-Selected-Database-Id": "${currentSelectedDatabaseId}", "X-Persist-Changes": true}`'
      x-data="{ loading: false }"
      hx-include=".properties-input"
      @submit="loading = true"
>
    <div class="d-flex row">
        {% for property in recurring_task.properties_json %}
        <div class="form-group col-12 col-md-6">
            <label class="my-1">{{property.name}}</label>
            <div></div>
            {% if property.type == 'select' or  property.type == 'multi_select' %}
                <select
                        class="form-control properties-input"
                        name="{{property.id}}"
                >
                    {% for option in property.options %}
                        <option value="{{option.id}}"
                                {% if property.value == option.id %}
                                selected
                                {% endif %}
                        >
                            {{option.name}}
                        </option>
                    {% endfor %}
                </select>
            {% else %}
                <input
                        class="{% if property.html_form_type == 'checkbox' %} form-check-input {% else %} form-control {% endif %} properties-input"
                        name="{{property.id}}"
                        type="{{property.html_form_type}}"
                        {% if property.value == True %} checked {% endif %}
                        value="{{property.html_value}}"
                />
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <button type="submit"
            class="btn btn-success mt-2"
            x-bind:disabled="loading">
        <span class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
              x-show="loading"></span>
        Submit
    </button>
</form>
{% endif %}
