<!-- CREATE RECURRING TASK FORM
Values from Outter Alpine JS Data State are contained within the
Notion Tasks List object. These are used to pass down the Notion
Task specific values.
-->
<form class="d-inline-block m-auto col-12 col-md-6 mt-2"
      hx-post="{% url 'create-recurring-task' %}"
      x-bind:hx-target="'#recurring-tasks-container-' + notionTaskId"
      x-data="{ loading: false }"
      x-on:submit="(event) => {
                console.log('calling clicked method');
                loading = true;
            }"
>
    <input
            name="name"
            type="hidden"
            x-bind:value="notionTaskTitle"
    />
    <input
            name="url"
            type="hidden"
            x-bind:value="notionTaskUrl"
    />
    <input
            name="id"
            type="hidden"
            x-bind:value="notionTaskId"
    />
    <input
            name="database-id"
            type="hidden"
            x-bind:value="notionDbId"
    />
    <button
            class="add-recurring-task-btn p-2"
            type="submit"
            x-bind:disabled="loading == true"
    >
        <span class="btn btn-success" x-show="loading == false">+</span>
        <span class="btn btn-success" x-show="loading == true"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></span>
        &nbsp; Add Schedule
    </button>
</form>