{% if database is None or database.properties|length == 0 %}
<div class="alert alert-warning">Please select a database to update properties!</div>
{% endif %}
<div class="d-flex row">
    {% for property in database.properties %}
    <div class="form-group col-6">
        <label>{{property.name}}</label>
        <input
                class="{% if property.notion_type_as_html_form_type == 'checkbox' %} form-check-input {% else %} form-control {% endif %}"
                name="{{property.id}}"
                type="{{property.notion_type_as_html_form_type}}"
        />
    </div>
    {% endfor %}
</div>
