{% block javascript %}
<script type="text/javascript">
      function updateDatabaseProperties(event) {
        var propertiesContainerElem = document.getElementById("properties-container");
        propertiesContainerElem.innerHTML = "{% include 'widgets/centered-spinner.html' %}";

        var shownVal = document.getElementById("databases-selector").value;
        var optionTag = document.querySelector("#option-" + shownVal);
        var value2send = optionTag.dataset.realValue;

        document.getElementById("selected-db-id").value = value2send;
      }
</script>
{% endblock javascript %}

<div>
    <input list="databases-list"
           name="selected-db-list-id"
           placeholder="Search for Database..."
           id="databases-selector"
           class="form-control"
           hx-include="[name='selected-database-id']"
           hx-trigger="change delay:200ms"
           hx-post="{% url 'database-property-inputs' %}"
           hx-target="#properties-container"
           onchange="updateDatabaseProperties(event)"
    />
    <input
            name="selected-database-id"
            type="hidden"
            id="selected-db-id"
            value=""
    />
    <datalist id="databases-list">
    {% for notion_database in databases %}
        <option data-real-value="{{notion_database.id}}" id="option-{{notion_database.name}}">
            {{notion_database.name}}
        </option>
    {% endfor %}
    </datalist>
</div>