{% extends '_base.html' %}

{% block title %}Scheduled Pages{% endblock %}
{% load page_basics %}


{% block content %}
<h1>Scheduled Pages</h1>
<div x-data="{ loading: false }">
    <form action="{%  url 'create-recurring-task' %}"
          method="POST"
          @submit="loading = true"
    >
        {% csrf_token %}
        <button
                type="submit"
                x-bind:disabled="loading"
                class="btn btn-success position-relative"
        >
            <span x-show="!loading">
                            {% autoescape off %}
                                {% bootstrap_icon_by_icon_name icon_name='plus-circle' %}
                            {% endautoescape %}
            </span>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" x-cloak
                  x-show="loading"></span>
            &nbsp;Create Scheduled Page
        </button>
    </form>
</div>
<div class="row">
    <div class="col-12">
        <div class="my-2 mr-2">
            <div class="d-flex row">
                {% if recurring_tasks|length == 0 %}
                <div class="alert alert-info mt-2">
                    <span>
                        {% autoescape off %}
                            {% bootstrap_icon_by_icon_name icon_name='info-circle' %}
                        {% endautoescape %}
                    </span>
                    &nbsp;No Pages available - click on "Create Scheduled Page" to get started.</div>
                {% else %}
                <!-- Desktop Table Header -->
                <div class="d-none d-md-block mt-4">
                    <div class="d-flex row">
                        <div class="col-4">
                            <p class="h6 ms-2 text-muted">Page Name</p>
                        </div>
                        <div class="col-8 d-flex">
                            <div class="col-5">
                                <p class="h6 text-muted">Starting From</p>
                            </div>
                            <div class="col-6 ms-2">
                                <p class="h6 text-muted">Repeating</p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0"/>
                    </div>
                </div>
                {% endif %}
                {% for recurring_task in recurring_tasks %}
                    {% include "tasks/partials/recurring-task-list-element.html" with recurring_task=recurring_task %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
