{% extends '_base.html' %}

{% block title %}Recurring Tasks{% endblock %}

{% load page_basics %}

{% block content %}
<div class="d-flex" x-data="{
        databaseSelected: {% if recurring_task.database == None %}false{% else %}true{% endif %},
    }">
    <div class="w-100 px-2">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label for="task-name">Name</label><br/>
                        <input value="{{ recurring_task.name }}"
                               type="text"
                               class="h3 border-0 w-100 mb-0 bg-muted-on-hover"
                               name="task-name"
                               id="task-name"
                               hx-trigger="change"
                               hx-indicator="#task-name-change-loading-indicator"
                               hx-post="{% url 'update-recurring-task-schedule' pk=recurring_task.pk %}"
                        />
                        <small x-cloak id="task-name-change-loading-indicator"
                               class="htmx-indicator my-0 mx-0 text-muted">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                  x-cloak></span>
                            Saving changes...
                        </small>
                    </div>
                </div>
                <div>
                    <div class="col-12 pe-2">
                        {% if recurring_task.database is None or recurring_task.database.database_name is None %}
                            {% include 'tasks/partials/notion-databases-search.html' with savedDbName='' %}
                        {% else %}
                            {% include 'tasks/partials/notion-databases-search.html' with savedDbName=recurring_task.database.database_name %}
                        {% endif %}
                    </div>
                    <div class="my-2"></div>
                    <div class="py-2 mt-4" x-cloak x-show="databaseSelected">
                        <h3 class="h5">Schedule</h3>
                        {% include 'tasks/partials/recurring-task-schedule.html' with recurring_task=recurring_task %}
                    </div>
                    <h3 class="h5 mt-4" x-cloak x-show="databaseSelected">Properties</h3>
                    <div id="properties-container" hx-target="this">
                        <div class="properties-request-indicator my-indicator">
                            {% include 'widgets/centered-spinner.html' %}
                        </div>
                        <div id="properties-form-container" class="properties-request-indicator hide-on-indicator">
                            {% if recurring_task.properties_json|length == 0 %}
                            <div class="alert alert-danger alert-dismissible fade show">
                                Please select a database for the Page!
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                            {% else %}
                                {% include 'tasks/partials/recurring-task-update-property-form.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="d-flex mt-4 pt-4">
                    <div x-data="{loading: false}" class="me-2">
                        <form action="{% url 'duplicate-recurring-task' pk=recurring_task.pk %}"
                              method="POST"
                              @submit="loading = true"
                        >
                            {% csrf_token %}
                            <button
                                    type="submit"
                                    class="btn btn-primary"
                                    x-bind:disabled="loading"
                            >
                                <span x-show="!loading">
                                    {% bootstrap_icon_by_icon_name icon_name='duplicate' %}
                                </span>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" x-cloak
                                      x-show="loading"></span>
                                Duplicate
                            </button>
                        </form>
                    </div>
                    <div x-data="{loading: false}">
                        <form
                                action="{% url 'delete-recurring-task' pk=recurring_task.pk %}"
                                method="POST"
                                @submit="loading = true"
                        >
                            {% csrf_token %}
                            <button
                                    class="btn btn-danger position-relative"
                                    type="submit"
                                    x-bind:disabled="loading"
                            >
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" x-cloak
                                      x-show="loading"></span>
                                <span x-show="!loading">
                                    {% bootstrap_icon_by_icon_name icon_name='trash' %}
                                </span>
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
