{% extends '_base.html' %}

{% block title %}Recurring Tasks{% endblock %}

{% load notion_workspace_tags %}

{% block content %}
<div class="d-flex" x-data="{
        databaseSelected: {% if recurring_task.database == None %}false{% else %}true{% endif %}
    }">
    <div class="w-100 px-2">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label for="task-name">Name</label><br/>
                        <input value="{{ recurring_task.name }}"
                               type="text"
                               class="h3 border-0 w-100 mb-0 bg-muted-on-hover"
                               name="task-name"
                               id="task-name"
                               hx-trigger="change"
                               hx-indicator="#task-name-change-loading-indicator"
                               hx-post="{% url 'update-recurring-task-schedule' pk=recurring_task.pk %}"
                        />
                        <small id="task-name-change-loading-indicator" class="htmx-indicator my-0 mx-0 text-muted">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" x-cloak></span>
                            Saving changes...
                        </small>
                    </div>
                </div>
                <div x-data="{
                        currentSelectedDatabaseId:
                        {% if recurring_task.database is None %}
                            ''
                        {% elif recurring_task.database.database_id is None %}
                            ''
                        {% else %}
                            '{{recurring_task.database.database_id}}'
                        {% endif %}
                    }">
                    <div class="col-12 pe-2">
                        <label class="mb-1 mt-2 h4">
                            Database
                            <span class="text-danger text-bold">*</span>
                        </label>
                        <small class="text-muted">
                            Can't find the right Database? <a href="{% oauth_url %}">Click here</a> to update Notion
                            permissions.
                        </small>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="bi-table"></i>
                                </div>
                            </div>
                            <input
                                    list="databases-list"
                                    name="selected-db-list-id"
                                    placeholder="Search for Database..."
                                    {% if recurring_task.database != None and recurring_task.database.database_name != None %}
                                        value="{{recurring_task.database.database_name}}"
                                    {% endif %}
                                    id="databases-selector"
                                    class="form-control"
                                    hx-trigger="change delay:50ms"
                                    x-bind:hx-headers='`{"X-Selected-Database-Id": "${currentSelectedDatabaseId}", "X-Persist-Changes": true}`'
                                    hx-post="{% url 'update-recurring-task-properties' pk=recurring_task.pk %}"
                                    hx-target="#properties-container"
                                    @change="() => {
                               // we are looking for the options tag with the SAME value as the selector currently has
                               var shownVal = document.getElementById('databases-selector').value;
                               // see template notion_databases/partials/notion-databases-list.html to understand why this works
                               var optionTag = document.querySelector('#option-' + shownVal.replace(' ', ''));
                               if(optionTag === null) {
                                    // reset value if user just put in an invalid option tag
                                    document.getElementById('databases-selector').value = shownVal;
                                    return;
                               } else {
                                    // extract the real value from the options set and setting it to the current selected id
                                    currentSelectedDatabaseId = optionTag.dataset.realValue;
                               }
                               // insert loading spinner
                               var propertiesContainerElem = document.getElementById('properties-container');
                               propertiesContainerElem.innerHTML = `{% include 'widgets/centered-spinner.html' %}`;
                               databaseSelected = true;
                            }"
                            />
                            <datalist
                                    id="databases-list"
                                    hx-trigger="load"
                                    hx-get="{% url 'get-workspace-databases' %}"
                                    hx-indicator="#database-loading-indicator"
                                    hx-target="#databases-list"
                            >
                            </datalist>
                        </div>
                        <small id="database-loading-indicator" class="htmx-indicator my-0 mx-0 text-muted">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading Workspace Databases...
                        </small>
                    </div>
                    <div id="properties-container" class="mt-2" hx-target="this">
                        {% include 'tasks/partials/recurring-task-update-property-form.html' %}
                    </div>
                </div>
                <div class="my-2"></div>
                <div class="py-2" x-cloak x-show="databaseSelected">
                    <hr/>
                    <h3 class="h4">Schedule</h3>
                    {% include 'tasks/partials/recurring-task-schedule.html' with recurring_task=recurring_task %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
