{% extends '_base.html' %}

{% block title %}Recurring Tasks{% endblock %}

{% block content %}
<div class="d-flex">
    <div class="w-100 px-2">
        <div class="card">
            <div class="card-body">
                <div class="row my-4">
                    <div class="col-12">
                        <label for="task-name">Name</label><br/>
                        <input value="{{ recurring_task.name }}"
                               type="text"
                               class="h3 border-0 w-100"
                               name="task-name"
                               id="task-name"
                               hx-trigger="change delay:1s"
                               hx-post="{% url 'update-recurring-task-schedule' pk=recurring_task.pk %}"
                        />
                    </div>
                </div>
                <h3 class="h5">Schedule</h3>
                {% include 'tasks/partials/recurring-task-schedule.html' with recurring_task=recurring_task %}
                <hr />
                <div class="row">
                    <div class="col-12">
                        <div class="my-2 mr-2">
                        </div>
                    </div>
                </div>
                <h3 class="h5">Properties</h3>
                <div class="col-12 col-md-5 form-group">
                    <label class="mb-2">Database</label>

                    <div x-data="{
                        currentSelectedDatabaseId: '{{recurring_task.database_id}}'
                    }">
                        <input
                            list="databases-list"
                            name="selected-db-list-id"
                            placeholder="Search for Database..."
                            id="databases-selector"
                            class="form-control"
                            hx-trigger="change delay:100ms" {# We use the delay so our on change javascript method can set the selected database id value #}
                            hx-post="{% url 'update-recurring-task-properties' pk=recurring_task.pk %}"
                            x-bind:hx-vals='`{"selectedDatabaseId": "${currentSelectedDatabaseId}"}`'
                            hx-target="#properties-container"
                            @change="() => {
                               // insert loading spinner
                               var propertiesContainerElem = document.getElementById('properties-container');
                               propertiesContainerElem.innerHTML = `{% include 'widgets/centered-spinner.html' %}`;
                               // we are looking for the options tag with the SAME value as the selector currently has
                               var shownVal = document.getElementById('databases-selector').value;
                               console.log(shownVal);
                               var optionTag = document.querySelector('#option-' + shownVal.replace(' ', ''));
                               console.log(optionTag);
                               // extract the real value from the options set and setting it to the current selected id
                               currentSelectedDatabaseId = optionTag.dataset.realValue;
                            }"
                        />
                        <datalist
                            id="databases-list"
                            hx-trigger="load"
                            hx-get="{% url 'get-workspace-databases' %}"
                            hx-target="#databases-list"
                        >
                        </datalist>
                    </div>
                </div>
                <hr />
                <div id="properties-container">
                    {% include 'tasks/partials/recurring-task-update-property-form.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}