{% extends '_base.html' %}

{% block title %}Recurring Tasks{% endblock %}


{% block content %}
<h1>Recurring Tasks</h1>
<div x-data="{ loading: false }">
    <form action="{%  url 'create-recurring-task' %}"
          method="POST"
          @submit="loading = true"
    >
        {% csrf_token %}
        <button
                type="submit"
                x-bind:disabled="loading"
                class="btn btn-success"
        >
            <i class="bi-plus-circle" x-show="!loading"></i>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" x-show="loading"></span>
            &nbsp;Create New Recurring Task
        </button>
    </form>
</div>
<div class="row">
    <div class="col-12">
        <div class="my-2 mr-2">
            <div class="d-flex row">
                {% if recurring_tasks|length == 0 %}
                <div class="alert alert-info">No data has been scheduled yet!</div>
                {% else %}
                {% for recurring_task in recurring_tasks %}
                    <div class="d-md-none">
                        {% include "tasks/partials/recurring-task-list-element-phone.html" with recurring_task=recurring_task %}
                    </div>
                    <div class="d-none d-md-block">
                        <hr class="my-1" />
                        {% include "tasks/partials/recurring-task-list-element-desktop.html" with recurring_task=recurring_task %}
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
